# Top-most EditorConfig file
root = true

# C# files
[*.cs]
indent_style = space
indent_size = 4
max_line_length = 150
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# C# project files
[*.csproj]
indent_style = space
indent_size = 2

# Solution files
[*.sln]
indent_style = space
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
